body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:darkgray;
  }

  .container {
    width: 40%;
    margin: 0 auto;
    background-color: white;
    border-radius: 30px;
    border: transparent;
    font-family: "Mitr", sans-serif;
    margin-top: 140px;
    padding-top: 5px;
    padding-bottom: 30px;
  }

  h1 {
    text-align: center;
  }

  .form-group {
    margin: 10px 150px 0px 150px;
    padding: 3px 150px 6px 1px;
  }

  input[type="text"] {
    border: 1px solid rgb(199, 198, 198);
    border-radius: 10px;
    padding: 3px 200px 6px 3px;
  }

  input[type="password"] {
    border: 1px solid rgb(199, 198, 198);
    border-radius: 10px;
    padding: 3px 200px 6px 3px;
  }

  button[type="submit"] {
    border-collapse: collapse;
    border: transparent;
    border-radius: 15px;
    font-family: "Mitr", sans-serif;
    color: black;
    margin: 15px 0px 5px 250px;
    padding: 5px 50px 5px 50px;
    background-color: rgb(172, 172, 172);
    transition: 0.5s;
  }

  button[type="submit"]:hover {
    color: rgb(255, 255, 255);
    background-color: #000;
  }

  .returnlogin {
    text-decoration: none;
    font-size: 13px;
    border-collapse: collapse;
    border: transparent;
    border-radius: 15px;
    color: white;
    margin: 15px 0px 0px 175px;
    padding: 5px 50px 5px 50px;
    background-color: #000;
    transition: 0.5s;
  }

  .form-control {
    font-family: "Mitr", sans-serif;
  }

  .returnlogin:hover {
    background-color: rgb(63, 61, 61);;
    color: white;
  }

  .footer {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 50px;
    color: white;
    font-family: "Mitr", sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #000;
  }

  .footer p {
    text-align: right;
    margin-right: 50px;
    position: relative;
  }